img {
     width: 25%;
}

li {
     list-style-type: none;
     padding-left: 0px;
     margin-top: 16px;
     background: white;
     padding-top: 10px;
     border-radius: 4px;
     font-weight: bold;
}

ul {
     padding-left: 0px;
}

body {
     background: #FAC552;
}

button {
     margin-top: 10px;
}